*{
    box-sizing: border-box;
}

body{    
    margin:0px;
    padding:0;
    background-image: url('back.jpg');
    background-repeat: no-repeat;
    background-size: 1900px 900px;
}

.one{
	border: 2px solid black;
	float: left;
	margin: 0px;
}
.two{
    text-align: center;
	border: 2px solid black;
    float: left;
    padding: 10px;
    padding-top: 20px;
    background-color: #336699;
}

.three{
	border: 2px solid black;
	float: right;
    margin: 0px;
}

ul{
    text-align: center;
    list-style-type: none;
    border: 2px solid black;
    padding: 10px;
    background-color: #71C67A;
}
 ul a{
    box-sizing: border-box;
    display: inline-block;
    text-decoration: none;
    color: black;    
}

.container1{
    width:  45%;
    height: 30%;
    float: left;
    margin: 80px 20px 50px 100px;
    border: 1px solid black;
}

.wrap{
	max-width:350px;
	border-radius:20px;
	margin:auto;
	background:rgba(0,0,0,0.8);
	box-sizing:border-box;
	padding:40px;
	color:#fff;
	margin-top:100px;
	margin-right:100px;
}
h2,h3{
	text-align:center;
}
input[type=text],input[type=password]{
	width:100%;
	box-sizing:border-box;
	padding: 12px 5px;	
	background:rgba(0,0,0,0.10);
	outline:none;
	border:none;
	border-bottom:1px dotted #fff;
	color:#fff;
	border-radius:5px;
	margin:5px;
	font-weight:bold;
}
input[type=submit]{
	width:100%;
	box-sizing:border-box;
	padding: 10px 0;	
	margin-top:30px;
	outline:none;
	border:none;
	background:#60adde;
	opacity:0.7;
	color:#fff;
	border-radius:20px;
	font-size:20px;
}
input[type=submit]:hover{
	background:#003366;
	opacity:0.7;
}

#tagline, #text{
    font-family: cursive;
    color: white;
}
#tagline{
    font-size: 23px;
}
